{% extends "base.html" %}
{% block content %}
<style>
	#content {
		min-height: 80vh;
	    justify-content: center;
    	align-items: center;
	}

	.center-spinner {
		position: absolute;
	}
	.list-group-item a {
		color: black;
	}

	.list-group-item a.active {
		color: blue;
	}
</style>
<div id="loading-spinner" style="display: none;">
	<div class="spinner-border text-primary" role="status">
		<span class="sr-only">Loading...</span>
	</div>
</div>
<div class="container">
	<div class="row">
		<aside class="col-md-4 py-5 ">
			<ul class="list-group">
				<li class="list-group-item">
					<a hx-indicator="#progress" href="{% url 'profile' %}" hx-get="{% url 'profile' %}" hx-swap="innerHTML" hx-target="#content"
						hx-trigger="click, load" hx-boost="true" hx-indicator="#progress" data-state="profile">
						<i class="fas fa-user"></i> My Profile
					</a>
				</li>
				<li class="list-group-item">
					<a hx-indicator="#progress" href="{% url 'orders' %}" hx-get="{% url 'orders' %}" hx-swap="innerHTML" hx-target="#content"
						hx-boost="true" data-state="orders">
						<i class="fas fa-shopping-cart"></i> Orders
					</a>
				</li>
				<li class="list-group-item">
					<a hx-indicator="#progress" href="{% url 'address' %}" hx-get="{% url 'address' %}" hx-swap="innerHTML" hx-target="#content"
						hx-boost="true" data-state="address">
						<i class="fas fa-address-card"></i> Addresses
					</a>
				</li>
				<li class="list-group-item">
					<a hx-indicator="#progress" href="{% url 'logout' %}" id="logout-link">
						<i class="fas fa-sign-out-alt"></i> Logout
					</a>
				</li>
			</ul>
		</aside>
		<main id="content" class="col-md-8 mt-4">
			{% include 'spinner.html' %}
		</main>
	</div>
</div>
{% endblock content %}
{% block script %}
<script>
	document.querySelectorAll('a[data-state]').forEach(function (link) {
		link.addEventListener('click', function () {
			document.querySelectorAll('a[data-state]').forEach(function (link) {
				link.classList.remove('active');
			});

			this.classList.add('active');

			sessionStorage.setItem('state', this.getAttribute('data-state'));
		});
	});

	var logoutLink = document.getElementById('logout-link');
	if (logoutLink) {
		logoutLink.addEventListener('click', function () {
			sessionStorage.clear();
		});
	}

	window.addEventListener('DOMContentLoaded', (event) => {
		var state = sessionStorage.getItem('state');
		if (state) {
			var link = document.querySelector(`a[data-state="${state}"]`);
			if (link) {
				link.click();
				link.classList.add('active');
			}
		} else {
			var firstLink = document.querySelector('a[data-state]');
			if (firstLink) {
				firstLink.classList.add('active');
			}
		}
	});

	document.body.addEventListener('htmx:afterSwap', function (event) {
		if ($('.modal').hasClass('in')) {
			$('body').addClass('modal-open');
		} else {
			$('body').removeClass('modal-open');
			$('body').css('padding-right', '0');
		}
	});
</script>
{% endblock script %}