{% extends 'base.html' %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">

<!-- ============================ COMPONENT REGISTER   ================================= -->
	<div class="card mx-auto shadow-lg " style="max-width:520px; margin-top:40px;">
      <article class="card-body">
		<header class="mb-4"><h4 class="card-title">Sign up</h4></header>
		<form method="post" hx-boost="true" hx-indicator="#progress">
			{% csrf_token %}
			<div class="form-row" >
				<div class="col form-group">
					<label>First name</label>
					<input type="text" class="form-control" name="first_name">
				</div>
				<div class="col form-group">
					<label>Last name</label>
					<input type="text" class="form-control" name="last_name">
				</div>
			</div>
			<div class="form-group">
				<label>Email</label>
				<input type="email" class="form-control" name="email">
				<small class="form-text text-muted">We'll never share your email with anyone else.</small>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Create password</label>
					<input class="form-control" type="password" name="password1">
				</div>
				<div class="form-group col-md-6">
					<label>Repeat password</label>
					<input class="form-control" type="password" name="password2">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block"> Register </button>
			</div>
		</form>
		</article><!-- card-body.// -->
    </div> <!-- card .// -->
    <p class="text-center mt-4">Have an account? <a hx-boost="true"	hx-indicator="#progress" href="{% url 'login' %}" >Log In</a></p>
    <br><br>
<!-- ============================ COMPONENT REGISTER  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock content %}
