{% load static %}

<aside class="col-md-4">
    <div class="card">
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <th scope="row">Total price:</th>
                        <td class="text-right">Rs. {{cart.total}} </td>
                    </tr>
                    {% if cart.coupon %}
                    <tr>
                        <th scope="row">Discount ({{ cart.coupon.coupon_code }}):</th>
                        <td class="text-right text-success">- ${{cart.coupon.discount_price}}</td>
                    </tr>
                    {% endif %}
                    <tr>
                        <th scope="row">Total:</th>
                        <td class="text-right"><strong>${{ cart.total_with_discount }}</strong></td>
                    </tr>
                </tbody>
            </table>
            <hr>

            <hr>
            <p class="text-center mb-3">
                <img src="{% static '/images/misc/payments.png' %}" height="26">
            </p>
            <form hx-indicator="#progress" action="{% url 'place_order' %}" hx-boost="true" method="get" >
            <article class="py-3 ">
            
                <div class="card">
                    <header class="card-header">
                        <img src="{% static 'images/logo1.png' %}" class="float-right" height="24">
                        <label class="form-check collapsed" data-toggle="collapse" data-target="#pay_paynet">
                            <input class="form-check-input" name="payment" checked type="radio" value="khalti">
                            <h6 class="form-check-label">
                                Khalti pay
                            </h6>
                        </label>
                    </header>

                </div> <!-- card.// -->
                <div class="card">
                    <header class="card-header">

                        <label class="form-check" data-toggle="collapse" data-target="#pay_payme">
                            <input class="form-check-input" name="payment" type="radio" value="pod">
                            <h6 class="form-check-label"> Pay on delivery </h6>
                        </label>
                    </header>

                </div> <!-- card.// -->
                <input type="hidden" name="address_id" value="">
            </article>
            <button type="submit" class="btn btn-primary btn-block"> Place Order </button>
            </form>

        </div> <!-- card-body.// -->
    </div> <!-- card.// -->
</aside> <!-- col.// -->
</div> <!-- row.// -->
