{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {

        $('.btn-group-toggle .btn').on('click', function (event) {
            $(this).addClass('active').siblings().removeClass('active');
            $(this).siblings().find('input[type="radio"]').prop('checked', false);
            var radioInput = $(this).find('input[type="radio"]');
            radioInput.prop('checked', true);
            var changeEvent = new Event('change');
            radioInput[0].dispatchEvent(changeEvent);
            event.preventDefault();
            this.form.dispatchEvent(new Event('submit'));

            var url = new URL(window.location.href);
            if (radioInput.attr('name')  ==  'color') {
                url.searchParams.set('color', radioInput.val());
            } else if (radioInput.attr('name')  ==  'size') {
                url.searchParams.set('size', radioInput.val());
            }
            history.replaceState({}, '', url);
        });

    });
</script>
{% endblock script %}

<article class="content-body">
    <div id="c">
        <h2 class="title">{{ product.name }}</h2>
        
        <div class="mb-3">
            <var class="price h4">${{ price }}</var>
        </div>

        <p>{{ product.desc }}</p>

        <p class="{% if in_stock %}in-stock{% else %}out-of-stock{% endif %}">
            {% if in_stock %}In Stock{% else %}Not In Stock{% endif %}
        </p>
    </div>
    <hr>
    <form hx-indicator="#progress" hx-get="{% url 'product' product.id %}" hx-trigger="submit" hx-push-url="false" hx-target="body"

        hx-swap="innerHTML" id="productForm">
        {% if colors %}
        <div class="row">
            <div class="item-option-select">
                <h6>Choose Color</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    {% for color in colors %}
                    {% with request.GET.color|add:0 as color_id %}
                    <!-- |add:0 converts color_id to integer -->

                    <label hx-push-url="false" class="btn btn-light {% if color.id  ==  color_id %} active {% endif %} ">
                        <input type="radio" name="color" value="{{color.id}}" {% if color.id == color_id %} checked {%  endif %}>
                        {{ color.name }}
                    </label>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
        {% if sizes %}
        <div class="row">
            <div class="item-option-select">
                <h6>Select Size</h6>
                <div class="btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
                    {% for size in sizes %}
                    {% with request.GET.size|add:0 as size_id %}
                    <!-- convert size_id to integer -->

                    <label hx-push-url="false" class="btn btn-light  {% if size.id  ==  size_id %} active {% endif %} ">
                        <input type="radio" name="size" value="{{size.id}}" {% if size.id == size_id %} checked {% endif %}>
                        {{ size.name }}
                    </label>
                    {% endwith %}
                    {% endfor %}
                </div>
            </div>
        </div> <!-- row.// -->
        {% endif %}
    </form>
    <hr>
    {% if product.id not in cart_ids or variant not in variant_ids %}
    <a id="#cart" hx-get="{% url 'add_to_cart' product.id %}?id={{variant}}" hx-target="body" hx-include="input[name='color']:checked, input[name='size']:checked" hx-swap="innerHTML" hx-indicator="#progress" href="{% url 'add_to_cart' product.id %}?id={{variant}}" class="btn  btn-primary"> <span
            class="text">Add to
            cart</span>
        <i class="fas fa-shopping-cart"></i> </a>
    {% else %}
    <button id="#cart" hx-include="input[name='color']:checked, input[name='size']:checked" hx-boost="true" hx-get="{% url 'remove_from_cart' product.id %}?id={{variant}}" 
    hx-swap="innerHTML" hx-indicator="#progress" hx-target="body" hx-push-url="false" 
    class="btn text-white btn-danger"> <span class="text">Remove from cart</span>
        <i class="fas fa-shopping-cart"></i> </button>
    {% endif %}

    {% if is_in_wishlist %}
    <a hx-boost="true" href="{% url 'remove_from_wishlist' product.id %}" class="btn btn-danger btn-md">
        <i class="fa fa-heart"></i>
    </a>
    {% else %}
    <a hx-boost="true" href="{% url 'add_to_wishlist' product.id %}" class="btn btn-secondary btn-md">
        <i class="fa fa-heart"></i>
    </a>
    {% endif %}
    </div>

</article>