{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION MAIN ========================= -->
{% if not query %}
<section class="section-intro padding-y-sm">
	<div class="container">

		<div class="intro-banner-wrap">
			<img src="{% static 'images/banners/1.jpg' %}" class="img-fluid rounded">
		</div>

	</div> <!-- container //  -->
</section>
{% endif %}
<!-- ========================= SECTION MAIN END// ========================= -->

<!-- ========================= SECTION  ========================= -->

<section class="section-name padding-y-sm">
	<div class="container">
		{% if query %}
		<header class="section-heading">
			<a hx-indicator="#progress" href="{% url 'store' %}" hx-boost="true" class="btn btn-outline-primary float-right">See all products</a>
			<h3 class="section-title">search result for {{ query }}</h3>
		</header><!-- sect-heading -->
		{% else %}
		<header class="section-heading">
			<a hx-indicator="#progress" href="{% url 'store' %}" hx-boost="true" class="btn btn-outline-primary float-right">See all</a>
			<h3 class="section-title">Popular products</h3>
		</header><!-- sect-heading -->
		{% endif %}

		<div class="row">
			{% for product in products %}
			<div class="col-md-3 mb-4">
				<div class="card card-product-grid h-100">
					{% if product.images.all %}
					<a href="{% url 'product' product.id %}" hx-boost="true" hx-target="body" class="img-wrap">
						<img src="{{ product.images.all.0.image.url }}" class="card-img-top">
					</a>
					{% endif %}
					<div class="card-body d-flex flex-column">
						<h5 class="card-title">
							<a href="{% url 'product' product.id %}" hx-boost="true" hx-get="{% url 'product' product.id %}"
								class="title text-primary">{{ product.name }}</a>
						</h5>
						<hr class="my-4">
						<h6 class="card-subtitle mb-2 text-muted">Price</h6>
						<p class="card-text">${{ product.base_price }}</p>
						<div class="mt-auto">
							<div class="d-flex justify-content-between ">
								<a href="{% url 'product' product.id %}" hx-boost="true" class="btn btn-primary btn-md ">View
									Details</a>
								{% if product.id in wishlist %}
								<a hx-boost="true" href="{% url 'remove_from_wishlist' product.id %}" class="btn btn-danger btn-md">
									<i class="fa fa-heart"></i>
								</a>
								{% else %}
								<a hx-boost="true" href="{% url 'add_to_wishlist' product.id %}" class="btn btn-secondary btn-md">
									<i class="fa fa-heart"></i>
								</a>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div> <!-- col.// -->
			{% empty %}
			<div class="col-md-12">
				<p>No products found.</p>
			</div>
			{% endfor %}
		</div> <!-- row.// -->

	</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->


{% endblock content %}