{% block content %}
{% include 'alerts.html' %}
<article class="card mb-4">
    <div class="card-body">
        <h4 class="card-title mb-4">Delivery info</h4>
        <form action="">


            <div class="row">
                <div class="form-group col-sm-6">
                    <label>Country*</label>
                    <select name="" class="form-control">
                        <option value="">India</option>
                        <option value="">United States</option>
                        <option value="">France</option>
                        <option value="">Italy</option>
                    </select>
                </div>
                <div class="form-group col-sm-6">
                    <label>State*</label>
                    <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-8">
                    <label>Street*</label>
                    <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label>Building</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label>House</label>
                    <input type="text" placeholder="Type here" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label>Postal code</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
                <div class="form-group col-sm-4">
                    <label>Zip</label>
                    <input type="text" placeholder="" class="form-control">
                </div>
            </div> <!-- row.// -->
        </form>
    </div> <!-- card-body.// -->
</article> <!-- card.// -->

{% endblock content %}