{% extends "base.html" %}
{% block content %}
<style>
	#content {
		min-height: 80vh;
		/* Adjust as needed */
	}

	.list-group-item a {
		color: black;
	}
</style>
<div class="container">
	<div class="row">
		<aside class="col-md-4 py-5 ">
			<ul class="list-group">
				<li class="list-group-item">
					<a href="{% url 'profile' %}" hx-get="{% url 'profile' %}" hx-swap="innerHTML" hx-target="#content"
						hx-boost="true" hx-replace-url="true" data-state="profile">
						<i class="fas fa-user"></i> My Profile
					</a>
				</li>
				<li class="list-group-item">
					<a href="{% url 'orders' %}" hx-get="{% url 'orders' %}" hx-swap="innerHTML" hx-target="#content"
						hx-boost="true" data-state="orders">
						<i class="fas fa-shopping-cart"></i> Orders
					</a>
				</li>
				<li class="list-group-item">
					<a href="{% url 'logout' %}">
						<i class="fas fa-sign-out-alt"></i> Logout
					</a>
				</li>
			</ul>
		</aside>
		<main id="content" class="col-md-8 mt-4" hx-swap-oob="true" hx-history-elt>
			<!-- The content from the views will be loaded here -->
		</main>
	</div>
</div>
<script>
	document.querySelectorAll('a[data-state]').forEach(function (link) {
		link.addEventListener('click', function () {
			sessionStorage.setItem('state', this.getAttribute('data-state'));
		});
	});

	window.addEventListener('DOMContentLoaded', (event) => {
		var state = sessionStorage.getItem('state');
		if (state) {
			var link = document.querySelector(`a[data-state="${state}"]`);
			if (link) {
				link.click();
			}
		}
	});
</script>
{% endblock content %}