{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
	<div class="container">
		<h2 class="title-page">Our Store</h2>

	</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
	<div class="container">

		<div class="row">
			<aside class="col-md-3">

				<div class="card shadow-lg ">
					<article class="filter-group">
						<form hx-get="/store/" hx-target="#main" hx-swap="outerHTML">
							<!-- Categories filter -->
							<article class="filter-group">
								<header class="card-header">
									<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true"
										class="">
										<i class="icon-control fa fa-chevron-down"></i>
										<h6 class="title">Categories</h6>
									</a>
								</header>
								<div class="filter-content collapse show" id="collapse_1">
									<div class="card-body">
										<ul class="list-menu">
											{% for category in categories %}
											<li><input type="checkbox" name="category" value="{{category.id}}">
												{{category.name}} </li>
											{% endfor %}
										</ul>
									</div> <!-- card-body.// -->
								</div>
							</article> <!-- filter-group  .// -->

							<!-- Sizes filter -->
							<article class="filter-group">
								<header class="card-header">
									<a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true"
										class="">
										<i class="icon-control fa fa-chevron-down"></i>
										<h6 class="title">Sizes </h6>
									</a>
								</header>
								<div class="filter-content collapse show" id="collapse_4">
									<div class="card-body">
										{% for size in sizes %}
										<label class="checkbox-btn">
											<input type="checkbox" name="size" value="{{size.id}}">
											<span class="btn btn-light"> {{size.name}} </span>
										</label>
										{% endfor %}
									</div><!-- card-body.// -->
								</div>
							</article> <!-- filter-group .// -->

							<!-- Price range filter -->
							<article class="filter-group">
								<header class="card-header">
									<a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true"
										class="">
										<i class="icon-control fa fa-chevron-down"></i>
										<h6 class="title">Price range </h6>
									</a>
								</header>
								<div class="filter-content collapse show" id="collapse_3">
									<div class="card-body">
										<div class="form-row">
											<div class="form-group col-md-6">
												<label>Min</label>
												<select class="mr-2 form-control" name="min_price">
													{% for price in price_options %}
													<option value="{{price}}" {% if forloop.first %}selected{% endif %}>
														${{price}}</option>
													{% endfor %}
												</select>
											</div>
											<div class="form-group text-right col-md-6">
												<label>Max</label>
												<select class="mr-2 form-control" name="max_price">
													{% for price in price_options %}
													<option value="{{price}}" {% if forloop.last %}selected{% endif %}>
														${{price}}</option>
													{% endfor %}>
												</select>
											</div>
										</div> <!-- form-row.// -->
										<button type="submit" class="btn btn-block btn-primary">Apply</button>
									</div><!-- card-body.// -->
								</div>
							</article> <!-- filter-group .// -->
						</form>
					</article> <!-- filter-group .// -->

				</div>

			</aside> <!-- col.// -->
			<main id="main" class="col-md-9">
				
				<header class="border-bottom mb-4 pb-3">
					<div class="form-inline">
						<span class="mr-md-auto">{{ n }} Items found </span>
					</div>
				</header><!-- sect-heading -->

				<div class="row">
					{% for product in products %}
					<div class="col-md-4  ">
						<div class="card card-product-grid">
							{% if product.images.all %}
							<a hx-push-url="true" href="{% url 'product' product.id %}" hx-boost="true" hx-target="body" hx-swap="outerHTML" hx-get="{% url 'product' product.id %}" class="img-wrap">
								<img src="{{ product.images.all.0.image.url }}" class="card-img-top">
							</a>
							{% endif %}
							<div class="card-body">
								<h5 class="card-title">
									<a href="{% url 'product' product.id %}"  hx-push-url="true"  hx-boost="true" hx-target="body" hx-swap="outerHTML"
									hx-get="{% url 'product' product.id %} class="title text-primary">{{ product.name }}</a>
								</h5>
								<hr class="my-4">
								<h6 class="card-subtitle mb-2 text-muted">Price</h6>
								<p class="card-text">${{ product.base_price }}</p>
								<a href="{% url 'product' product.id %}" hx-push-url="true"   hx-boost="true" hx-target="body" hx-swap="outerHTML"
									hx-get="{% url 'product' product.id %}" class="btn btn-primary mt-4 ">View Details</a>
							</div>
						</div>
					</div> <!-- col.// -->
					{% empty %}
					<div class="col-md-12">
						<p>No products found.</p>
					</div>
					{% endfor %}
				</div> <!-- row.// -->


				<nav class="mt-4" aria-label="Page navigation sample">
					<ul class="pagination">
						{% if products.has_previous %}
							<li class="page-item">
								<a class="page-link" href="?page={{ products.previous_page_number }}"
									hx-get="/store/?{{ query_string }}&page={{ products.previous_page_number }}" hx-target="#main" hx-swap="outerHTML">Previous</a>
							</li>
						{% else %}
							<li class="page-item disabled"><a class="page-link">Previous</a></li>
						{% endif %}

						{% for i in products.paginator.page_range %}
							{% if products.number == i %}
								<li class="page-item active">
									<a class="page-link" href="?page={{ i }}"
										hx-get="/store/?{{ query_string }}&page={{ i }}" hx-target="#main"  hx-swap="outerHTML" >
										{{ i }}</a>
								</li>
							{% else %}
								<li class="page-item">
									<a class="page-link" href="?page={{ i }}"
										hx-get="/store/?{{ query_string }}&page={{ i }}" hx-target="#main" hx-swap="outerHTML">
										{{ i }}</a>
								</li>
							{% endif %}
						{% endfor %}

						{% if products.has_next %}
							<li class="page-item">
								<a class="page-link" href="?page={{ products.next_page_number }}"
									hx-get="/store/?{{ query_string }}&page={{ products.next_page_number }}" hx-target="#main">Next</a>
							</li>
						{% else %}
							<li class="page-item disabled"><a class="page-link">Next</a></li>
						{% endif %}
					</ul>
				</nav>
			</main> <!-- col.// -->

		</div>

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
